{% extends "base.html.twig" %}
{% block title %} Les gites PROGICA {% endblock %}
{% block body %}
<h1>Les gites disponibles</h1>
<div class="row">
{% for gite in gites %}
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{gite.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{gite.createdAt|format_datetime()}}</h6>
    <p class="card-text">{{gite.description}}</p>
    <a  class="btn btn-secondary" href="{{path('gite.show', {'id':gite.id})}}">Voir le gite</a>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}